.modalCart {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    z-index: 2;
}

.modalCart.active{
    opacity: 1;
    pointer-events: all;
}

.modalCart__content{
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
    background-color: white;
    /* width: 100vw; */
    width: 300px;
    height: 100vh;
    z-index: 2;
    padding-bottom: 40px;
}